@import "compass";
@import "compass/css3/transform";
@import "compass/css3/transition";
@include global-reset;
@include reset-html5;

@import "app-foundation";

body > header {
  h1 {
    text-transform: uppercase;
    text-align: center;
    color: #999;
    line-height: 1.5;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    font-size: 2.5em;

    img {
      height: 0.75em;
      @include transition(all 1s ease-in-out);
    }

    i {
      display: inline-block;
      width: 1em;
    }
  }
}

@media only screen and (max-width: 48em) {
  body > header {
    h1 {

      img {
        height: 0.6em;
        padding-right: 0.25em;
        box-sizing: border-box;
        @include transform( rotate(90deg) );
      }
    }
  }

  #lead {
    p, h1 {
      @include grid-column(12);
    }
  }
}

@media only screen and (max-width: 64em) {
  #pitch {
    ol {
      margin-left: 20px;
    }
  }
}

#lead {
  background-color: rgb(43, 56, 68);
  color: #eee;
  padding: 1em 0;
  margin-bottom: 1em;

  header, #blurb {
    @include grid-row();
  }

  p, h1 {
    @include grid-column(12);
  }

  #blurb p {
    font-size: 125%;
  }

  h1 {
    color: rgb(250, 239, 222);
    font-size: 2em;
    text-align: center;
    font-weight: 700;
  }
}

#pitch {
  ol {
    list-style: decimal;
  }
}

.testimonial {
  font-style: italic;
  position: relative;
  background-color: #eee;
  padding: 10px;
  margin-bottom: 2em;
  -webkit-border-radius: 10px;

  -webkit-box-shadow: 2px -1px 3px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    2px -1px 3px rgba(50, 50, 50, 0.2);
  box-shadow:         2px -1px 3px rgba(50, 50, 50, 0.2);

  blockquote {
    font-weight: bold;
    border-left-width: 0;
    padding: 0;
    color: #222;
    font-size: 1.2em;
  }
}

.testimonial:after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 47px;
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #eee transparent;
  display: block;
  width: 0;
}

.service_logo {
  font-style: italic;
  position: relative;
  background-color: #eee;
  padding: 10px;
  margin-bottom: 2em;
  -webkit-border-radius: 10px;

  -webkit-box-shadow: 2px -1px 3px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    2px -1px 3px rgba(50, 50, 50, 0.2);
  box-shadow:         2px -1px 3px rgba(50, 50, 50, 0.2);
}

.read-more {
  text-align: right;
  margin-top: -3em;
  font-size: 12px;
  margin-bottom: 0;
}

.testimonial {
  .the-rest {
    display: none;
  }
}

.quote {
  margin: {
    top: -1em;
    left: 10px;
    right: 10px;
    bottom: 2em;
  }
  text-align: right;
  font-size: 90%;
  font-style: italic;
  font-weight: bold;
  overflow: hidden;

  figure {
    margin: 8px;
    margin-left: 15px;
    float: left;
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

    img {
      width: 150px;
      max-width: 150px;
      margin-left: -30px;
      margin-top: -10px;
    }
  }

  cite {
    display: block;
    margin-top: 1em;
  }
}

#victoria-quote {
  figure img {
    width: 80px;
    margin-left: -10px;
    margin-top: -20px;
  }
}

#consultation-form {
  background: {
    color: rgb(250, 239, 222);
  }

  padding-top: 2em;
  margin-bottom: 1em;

  #emblem {
    @include grid-column(3);
  }

  form {
    margin-top: 1em;

    button {
      padding-top: 17px;
    }
  }
}

footer {
  background-color: rgb(43, 56, 68);
  color: #eee;
  padding: 2em 0;
  overflow: hidden;

  > div {
    @include grid-row();
  }

  h3 {
    color: #eee;
  }

  #contact {
    @include grid-column(12);
    line-height: 1.6;
    .org {
      font-weight: bold;
      font-size: 1.4em;
    }
  }

  address.vcard {
    border: 0;
    padding: 0;
  }
}

//@import "custom/colors";
//@import "custom/fonts";
//@import "custom/layout";
//@import "base";
//@import "partials";
//@import "plugins/**/*";
//@import "custom/styles";