---
layout: blank
title: ZeroMQ consulting
---

<section id="lead">
  <header>
    <h1>ZeroMQ consulting</h1>
  </header>

  <div id="blurb">
    <p>
      If you’ve ever hired a development shop in the past, you know how hard it can be to find one that’s reliable – one that can get down to your real problem and solve it. Even if you find talented developers, you’ll soon find out that they only do what they’re told to – not what’s best for you. Simply put, they don’t understand your business. And without an understanding of both your business and the core problems you’re trying to solve, the risk that your project will fail goes through the roof.
    </p>
  </div>
</section>

<div class="row">
  <section id="pitch" class="small-12 large-12 columns">
    {% include custom/zeromq.html %}
  </section>
</div>

{% include custom/_contact_form.html %}