---
layout: blank
title: Our services
---

<section id="lead">
  <header>
    <h1>Our services</h1>
  </header>

  <div id="blurb">
    <p class="treadmill">
      We help you kick ass with the whole spectrum of the Bear Metal Treadmill.
    </p>
    <div class="small-4 small-centered columns">
      <img src="../images/bear-metal-treadmill-2x.png" alt="Bear Metal Treadmill">
    </div>
  </div>

</section>

<div class="row">
  <div class="large-3 medium-4 columns">
    <div class="sidebar">
      <nav>
        <ul class="side-nav">
          <li><a href="#development">Development</a></li>
          <li><a href="#consulting">Consulting</a></li>
          <li><a href="#training">Training</a></li>
          <li><a href="#coaching">Coaching</a></li>
          <li><a href="#operations">Operations</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="large-9 medium-8 columns">
    <div id="development">
      <h2>
        Development
      </h2>
      <h3>For when there's a deadline to hit</h3>

      <p>
        We do custom application development in both greenfield and legacy projects. We can handle either the full stack of a web application – from databases to backend to frontend – or any part of them. We have vast experience in Ruby and Rails development, web frontend development (HTML, CSS, Javascript), and other development with Ruby, ZeroMQ, MQTT, and other technologies.
      </p>
      
      <p>We try to be technology-agnostic, however. We're doing what we do to solve problems, not to play with new technologies.</p>
    </div>

    <div id="consulting">
      <h2>
        Consulting
      </h2>
      <h3>When you need to crack a tough nut</h3>

      <p>
        We provide consulting in all the steps of the Bear Metal Treadmill.
      </p>

      <h4>Development</h4>

      <ul>
        <li>Refactoring and untangling legacy apps (Rails, Ruby, Javascript, ZeroMQ)</li>
        <li>Code reviews</li>
        <li>Integrations with 3rd party applications and external APIs</li>
        <li>Migration and integration of legacy applications</li>
        <li>Platform migrations</li>
        <li>Security analysis</li>
        <li>Performance testing and improvements</li>
      </ul>

      <h4>Deployment</h4>

      <ul>
        <li>Continuous deployment and integration</li>
        <li>Capistrano</li>
        <li>Chef</li>
        <li>Amazon Web Services</li>
        <li>Docker</li>
        <li>Flynn</li>
      </ul>

      <h4>Operations</h4>

      <p>
        Not sure about
      </p>

      <h4>Learning and teaching</h4>

      <h4>Marketing</h4>

      <h4>Planning</h4>
    </div>

    <div id="training">
      <h2>
        Training
      </h2>
      <h3>When you need to get your team up to speed quickly</h3>

      <p>
        We have given training in diverse topics for a decade. We have taught Ruby and Rails at major clients, from Fortune 500 companies to top universities and large conferences. There are few things we love more than people excited about learning new things.
      </p>

      <p>We give tailor-made training classes among other about the following subjects:</p>

      <ul>
        <li>
          Ruby – from the very basics to the most advanced metaprogramming.
        </li>

        <li>
          Ruby on Rails – From introduction to Rails internals.
        </li>

        <li>
          JavaScript – the language of the web.
        </li>

        <li>Ember.js – </li>
      </ul>
    </div>

    <div id="coaching">
      <h2>
        Coaching
      </h2>
      <h3>When you could use some hand-holding</h3>

      <p>
        You've learned the craft but still feel a bit unsure of the practice. Or maybe you hired a new programmer and want him to get started on the right foot. We'll help you get up to speed with virtual or in-person pair programming. There are few better ways to get from a journeyman to master than to work together with a more experienced developer.
      </p>
    </div>

    <div id="operations">
      <h2>
        Operations
      </h2>
      <h3>Because your doesn't run itself</h3>

      <p>
        Do you need someone to make sure your application stays up even in the case you get hit by the perfect Reddit storm? Give us a call. We've operated large virtual server clusters and are experts in Chef.
      </p>
    </div>

  </div>
</div>





<div class="row">
  <section id="pitch" class="small-12 large-8 columns">
    {% include custom/services.html %}
  </section>

</div>

{% include custom/footer.html %}