{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <header role="banner" class="post row">
    <div class="small-12 large-8 columns small-centered">
      This is <a href="/theden">The Den</a>, a publication crafted by the friendly cubs at <a href="/">Bear Metal</a>.
    </div>
  </header>
  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
</body>
</html>
