<form action="https://bearmetal.wufoo.com/forms/z6fe3fc0wce5qc/#public" method="POST" id="ss-form" target="_self">
  <div class="row">
    <div class="small-12 columns">
      <p><strong>Reserve a confidential discussion, and let's see how we can help your users kick butt:</strong></p>
    </div>

    <div class="small-6 columns">
      <label for="Field7">Your first name</label>
      <input type="text" placeholder="Maxwell" name="Field7" id="Field7" tabindex="1" required />
    </div>

    <div class="small-6 columns">
      <label for="Field8">Your last name</label>
      <input type="text" placeholder="Smart" name="Field8" id="Field8" tabindex="2" required />
    </div>

    <div class="small-12 columns">
      <label for="Field9">Your email address</label>
      <input type="email" placeholder="name@domain.com" name="Field9" id="Field9" maxlength="255" tabindex="3" required />
    </div>

    <div class="hide">
      <label for="comment">Do Not Fill This Out</label>
      <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
      <input type="hidden" id="idstamp" name="idstamp" value="N+bXtKr3xiqlh/YdAtzQ/UYNJjrL7XBYK3NvEkOuwWU=" />
    </div>

    <div class="small-12 columns">
      <button type="submit" id="saveForm" name="saveForm" tabindex="4">Reserve your consultation</button>
    </div>
  </div>
</form>