<h3>Don’t gamble your time and money with someone who “thinks” they can pull it off</h3>

<p>What if you could hire a seasoned, cross-functional team who are not only trustworthy and reliable, but knows that you don’t just need hands writing code; that you need to make a positive return on investment; that you need to make your clients kick ass?</p>

<p>What if the team you hire had experience and expertise in the whole business of web apps – from the depths of production operations and scaling to coding to user experience to marketing the app –, someone who’s been there and done exactly that? What if you could hire an ally, a partner, and not just a pair of hands?</p>

<h3>We want to be there for you</h3>

<p>We, Bear Metal, are Erkki, Jarkko, Lourens and Tarmo. We’re the original tech team behind Wildfire App, a huge success story that was bought last year by Google for hundreds of millions of dollars. And we’re ready to put the lessons learned during the past five years at Wildfire (and almost a decade before) into your use. We want to learn about you, your company, and your current or future clients that deserve the best app possible.</p>

<h3>“Why should I trust you?”</h3>

<p>As a business we’re brand new but as a team we’ve got about half a decade of jelling behind us. We helped to build a product from a wild idea to a juggernaut serving a large portion of Fortune 50 companies. Across the company that eventually grew to hundreds of employees before being acquired, we were known as the guys that get shit done.</p>

<h3>“What makes you think you’ll understand my business”</h3>

<p>We have a very simple definition of a successful business: it makes a shitload of profit by making its clients kick ass. We’re not trying to sell you a web app, we know what you want is lots of profitable customers. How precisely that happens in your case depends – and that’s why every projects starts with a deep discussion on your business and the problems you’re facing. Only after that are we able to help you to flesh out a plan to make you more money.</p>

<h3>“Why do you only have one former client?”</h3>

<p>Five years ago we started the relationship with Wildfire as freelance programmers. But <em>they just wouldn’t let us go</em>. What we ended up being was <em>the team</em> that built the app that completely changed the social media contest business. We stayed for five years because leaving or giving up is not something we’re known for. We want to build long term, deep relationships with everyone we work with.</p>

<h3>We might not be the right choice for you if&#8230;</h3>

<ol>
<li><strong>You just need a pair of hands</strong>
 If you only need someone to crank code to a spec, we are not made for each other. We have extensive experience in this business and want to truly help you to build the best app possible. That means we <em>will</em> tell you our opinion.</li>
<li><strong>You’ve got this enterprise process to adhere to</strong>
 If you need signing off from a committee to get anything done, this probably won’t work out. We want to build a close relationship with our partners and iterate rapidly and it just won’t cut with layers upon layers of red tape.</li>
<li><strong>How much?</strong>
 If you’re looking for the lowest hourly rate possible, our rate will probably make you faint. But if you want to make an investment in your business and want to work with an expert partner who’s acutely aware that you need to recoup it and then some, let’s have a chat.</li>
</ol>
