<div class="testimonial" id="victoria-testimonial">
  <blockquote>
    “Instrumental to Wildfire's rise to success”
  </blockquote>

  <p class="read-more"><a href="#" class="expand">Read more...</a></p>

  <div class="the-rest">
    <p>
      The guys at Bear Metal have been instrumental to Wildfire’s rise to success. Without exception we could trust them to do what’s best for the company’s bottom line with limited managerial oversight.
    </p>
    <p>
      Hiring a development and operations team, especially one that’s distributed and overseas, is always unnerving. I have heard far more horror stories than I have successes when it comes to working with overseas contract developers. But in our case we hit the jackpot by finding these guys when we founded Wildfire. While they weren’t technically cofounders, there was never any question that they cared for Wildfire like it was their own child.
    </p>
    <p>
      The Bear Metal team was 100% reliable, very talented and a true pleasure to work with. I wholeheartedly recommend them.
    </p>
  </div>
</div>

<div class="quote" id="victoria-quote">
  <figure>
    <img src="images/victoria-goggles.jpg">
  </figure>

  <cite>Victoria Ransom, Founder and CEO, Wildfire Interactive (now division of Google)</cite>
</div>

<div class="testimonial" id="alain-testimonial">
  <blockquote>
    “The best thing that happened for the development of our product”
  </blockquote>

  <p class="read-more"><a href="#" class="expand">Read more...</a></p>


  <div class="the-rest">
    <p>When we started Wildfire, it was important to us to work with a team of engineers that felt passionate about coding rather than simply being mercenaries. Finding Erkki, Tarmo, Jarkko and later Lourens was the best thing that happened for the development of our product. In addition to being incredibly passionate about their work, it’s hard to imagine a team that would have broader expertise in all things web apps, from technical details to scaling large systems to understanding customer needs.</p>

    <p>They are in a true meaning of the word <a href="http://37signals.com/svn/posts/1430-hire-managers-of-one">managers of one</a>, so you could with 100% confidence be sure they get things done and keep systems running without need for micro-management. Not only that, they’re not shy about providing alternative solutions.</p>
  </div>
</div>

<div class="quote">
  <figure>
    <img src="images/alain-goggles.jpg">
  </figure>
  <cite>Alain Chuard, Founder and Head of Product, Wildfire Interactive (now division of Google)</cite>
</div>

<div class="testimonial" id="xively-testimonial">
  <blockquote>
    “Bear Metal was the ideal contractor to work with – smart, fast, and great communication.”
  </blockquote>

  <p class="read-more"><a href="#" class="expand">Read more...</a></p>


  <div class="the-rest">
    <p>The ideal contractor to work with – smart, fast, and great communication. They picked up a Ruby job easily, didn’t require much overhead, and delivered a great library.</p>
  </div>
</div>

<div class="quote">
  <figure>
    <img src="images/xively.png">
  </figure>
  <cite>Fraser Macdonald, Program Manager at Xively</cite>
</div>