<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="//use.typekit.net/mba8ekq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">
  $(document).ready(function($) {
    $('a.expand').click(function(event) {
      $(this).parents('.testimonial').find('.the-rest').addClass('visible').slideDown('500');
      $(this).parents('.read-more').hide();
      return false;
    });
  });
</script>