<h2>Management</h2>

<hr />

<h3>Project guidance</h3>

<p>Need that 35k feet view of where things are at, where it needs to go and how to keep it on track ?</p>

<h3>Project Risk assessment</h3>

<p>Shaky handoff from a former team? Over your head in technology or people challenges? Got customers, but your product's unstable and prone to downtime?</p>

<h3>Incremental release processes</h3>

<p>The only way to ship is to ship continuously. General scrum and sprint based processes usually translates to shaky bi-monthly or monthly releases (or "ceremonies"). There's a better way ...</p>

<h2>Troubleshooting and analysis</h2>

<hr />

<h3>Debugging</h3>

<p>Slow response times, memory leaks, stuck processes or serving 503s? Replication failing and your backup procedure's backlogged? </p>

<h3>Performance optimization</h3>

<p>Slow critical / hot path ? Performance issues in layered architectures and platforms are most often the result of brittle integration points. Code profilers and a narrow scope view don't help much here.</p>

<h2>Tools and development</h2>

<hr />

<h3>Product bootstrap / development</h3>

<p>Need someone to build and operate your product, end to end? At scale, in fast growing environments and industries?</p>

<h3>Custom Ruby extensions</h3>

<p>We have strong expertise with native extensions for Ruby MRI (1.8, 1.9 and 2.0) and Rubinus's capi on multiple platforms.</p>

<h3>ZeroMQ</h3>

<p>We contributed monitoring support and bug fixes to the ZeroMQ project, maintain a Ruby binding and co-maintain the official C binding. We can build and implement custom transports and do architecture reviews.</p>

<h2>Integration and migrations</h2>

<hr />

<h3>Integration with 3rd party / external APIs</h3>

<p>Lots of experience with Facebook, Twitter, Google+, AWS, payment, Marketo and other APIs.</p>

<h3>Migration / integration of legacy systems</h3>

<p>We've driven several migrations, from full stacks, applications, runtimes to various data stores in incremental fashion with little or sometimes no customer impact.</p>

<h3>Platform Migrations</h3>

<p>Zero or minimal downtime deployments, migrations and releases. Change is inevitable, but it shouldn't disrupt your customer experience. We have extensive experience with MySQL, Redis, Cassandra and MongoDB as backend data stores.</p>

