<h3>Jarkko Laine</h3>

<p>Fill me in.</p>

Skils: <strong>leet</strong>

<h3>Erkki Eilonen</h3>

<p>Fill me in.</p>

Skils: <strong>leet</strong>

<h3>Tarmo Tänav</h3>

<p>Fill me in.</p>

Skils: <strong>leet</strong>

<h3>Lourens Naudé</h3>

<p>Ops and platform guy, debugger, trail / ultra runner. I make things. And many mistakes. I believe in balance, yet am hopelessly addicted to muesli. I contribute to the ZeroMQ project, am the author of several Ruby extensions / bindings and have extensive knowledge of Ruby MRI internals, event driven architecture, some financial protocols and like working on complex systems, mostly to make them simple. Presented at several European and some USA technology conferences. Born in South Africa, but living in Madeira - long story, email me or let's have a beer at a conference and I'll tell you all about it.</p>

Skills: <strong>Ruby, C, C++, ZeroMQ, Ruby extensions, debugging, FIX, events, EDA</strong>
