<h2>What is ZeroMQ ?</h2>

<hr />

<p><img src="../images/zeromq.gif" style="width: 150px; float: left; margin-right: 10px;"> <a href="http://zeromq.org">ZeroMQ</a> is a minimalist library with an API resembling BSD sockets that allows for building efficient and flexible messaging systems without much pain. It's neither a service, nor an application, but it can be either. It introduces messaging semantics to the sockets we all know and understand, but can also be used as a concurrency framework.</p>

<div class="service_logo small-8 columns small-centered">
  <h3>Zero…</h3>

  <dl>
     <dt>…broker</dt><dd>There is no central point of failure.</dd>
     <dt>…admin</dt><dd>There is nothing to administer.</dd>
     <dt>…cost</dt><dd>ZeroMQ comes with a simple API that's easy to learn.</dd>
     <dt>…waste</dt><dd>ZeroMQ has minimal footprint, making it even suitable for embedded systems.</dd>
     <dt>…price tag</dt><dd>ZeroMQ is open source, licensed with the <a hrf="http://www.tldrlegal.com/license/gnu-lesser-general-public-license-v2.1-(lgpl-2.1)">LGPL license</a>.</dd>
     <dt>(almost zero) latency</dt><dd>ZeroMQ origins are in the financial services industry so performance is of utmost importance to it.</dd>
  </dl>
</div>

<p>Medium sized dev teams can thus easily create elastic networks with a familiar API.</p>

<h2>How we can help</h2>

<hr />

<ul class="disc">
    <li>Topology / network design</li>
    <li>Implement monitoring infrastructure</li>
    <li>Custom <a href="https://twitter.com/hintjens/status/324529633766817792">transports</a> (where appropriate)</li>
    <li>Integration with existing networks and messaging systems (bridges)</li>
    <li>Integration with existing Ruby / Rails stacks</li>
</ul>

<h2>Credentials and contributions</h2>

<hr />

<h3>Contributions</h3>

<ul class="disc">
    <li>Added <a href="http://api.zeromq.org/3-2:zmq-socket-monitor">monitoring support</a> to ZeroMQ</li>
    <li>We co-maintain <a href="http://czmq.zeromq.org/">CZMQ</a> - a high-level C binding for ZeroMQ</li>
    <li>Authored and maintain <a href="https://github.com/methodmissing/rbczmq">rbczmq</a>, a popular Ruby ZeroMQ binding</li>
</ul>

<h3>Commercial implementations</h3>

<p>We helped with implementation, guidance and topology design for backend services at <a href="http://www.wildfireapp.com">WildfireApp</a></p>

<h3>Conferences</h3>

<p>We presented on ZeroMQ at the following conferences:</p>

<ul class="disc">
   <li><a href="http://2012.eurucamp.org/"><strong>European Ruby Camp 2012</strong></a> - Berlin</li>
   <li><a href="http://2012.frozenrails.eu/"><strong>Frozen Rails 2012</strong></a> - Helsinki</li>
   <li><a href="http://rubyshift.org/"><strong>RubyShift 2012</strong></a> - Kiev</li>
   <li><a href="http://realtimeconf.eu//"><strong>Realtimeconf EU 2013</strong></a> - Lyon</li>
</ul>

<p><iframe src="http://www.slideshare.net/slideshow/embed_code/19543723" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/methodmissing/zeromq-as-scriptable-sockets" title="ZeroMQ as scriptable sockets" target="_blank">ZeroMQ as scriptable sockets</a> </strong> from <strong><a href="http://www.slideshare.net/methodmissing" target="_blank">Lourens Naudé</a></strong> </div></p>