---
layout: blank
---

<section id="lead">
  <header>
    <h1>Are you struggling to find a technical partner that also understands your business?</h1>
  </header>

  <div id="blurb">
    <p>
      If you’ve ever hired a development shop in the past, you know how hard it can be to find one that’s reliable – one that can get down to your real problem and solve it. Even if you find talented developers, you’ll soon find out that they only do what they’re told to – not what’s best for you. Simply put, they don’t understand your business. And without an understanding of both your business and the core problems you’re trying to solve, the risk that your project will fail goes through the roof.
    </p>
  </div>
</section>

<div class="row">
  <section id="pitch" class="small-12 large-8 columns">
    {% include custom/_pitch.html %}
  </section>

  <aside class="large-4 columns">

  </aside>
</div>

<div class="row">
  <div class="small-12 columns" id="consultation-form">
    <div class="row">
      <div id="emblem">
        <img src="images/satisfaction-badge.png">
      </div>
      <div class="small-9 columns">
        <p><em>You're done with gambling on app developers, and you want to hire a team of experts who understand your business.</em></p>
      </div>
    </div>

    <form action="https://docs.google.com/forms/d/16uvsPQ6iIE41ysMAvQ1Di4IM3x99bxJ80vp3TnKWo48/formResponse" method="POST" id="ss-form" target="_self">
      <div class="row">
        <div class="small-12 columns">
          <p><strong>Reserve a confidential discussion, and let's see how we can help your users kick butt:</strong></p>
        </div>
        <div class="small-6 large-4 columns">
          <label for="entry_1116924781">Your email address</label>
          <input type="text" placeholder="name@domain.com" name="entry.1116924781" id="entry_1116924781">
        </div>

        <div class="small-6 large-4 columns">
          <label for="entry_222365614">Your name</label>
          <input type="text" placeholder="Maxwell Smart" name="entry.222365614" id="entry_222365614">
        </div>
        <input type="hidden" name="draftResponse" value="[]
        ">
        <input type="hidden" name="pageHistory" value="0">
        <div class="large-4 columns inline">
          <button type="submit" style="padding-top: 16px;">Reserve your consultation</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <section id="next-steps" class="small-12 large-8 columns">
    {% include custom/_next-steps.html %}
  </section>

  <aside class="large-4 columns">

  </aside>
</div>

<footer>
  <div>
    <div id="contact">
      <h3>Contact</h3>
      <address>
        Bear Metal OÜ<br>
        <a href="mailto:info@bearmetal.eu">info@bearmetal.eu</a>
      </address>
    </div>
  </div>
</footer>